{% extends 'StudenciakBundle:Page:base.html.twig' %}

{% block title %}Osoby{% endblock %}

{% block general %}active{% endblock %}
{% block persons %}active{% endblock %}

{% block view %}
<table>
  <tr>
    <th style="width: 10%">Avatar</th>
    <th style="width: 30%">Imię i nazwisko</th>
    <th style="width: 30%">E-mail</th>
    <th style="width: 15%">Aktywność</th>
    <th style="width: 15%">Admin</th>
  </tr>
  {% for osoba in osoby %}
  <tr>
    <td><img src="{{ osoba.getZdjecie }}" /></td>
    <td>{{ osoba.getNazwisko }} </td>
    <td>{{ osoba.getEmail }} </td>
    <td>
     {% if osoba.getAktywny == 0 %}
     <a href="{{ path('aktywuj', {'id' : osoba.getIdOsoby})}}"><input type="button" value="Aktywuj" /></a>
     {% else %}
     <a href="{{ path('usun', {'id' : osoba.getIdOsoby})}}"><input type="button" value="Usuń" /></a>
     {% endif %}
   </td>
   <td>{{ osoba.getAdmin }} </td>
 </tr>
 {% endfor %}
</table>
{% endblock %}