{% extends 'StudenciakBundle:Page:base.html.twig' %}

{% block title %}
	Repozytoria
{% endblock %}

{% block general %}
	active
{% endblock %}
{% block repo %}
	active
{% endblock %}

{% block view %}
    <div class="db-breadcrumbs">
        <a class="db-brdcmb-item" href="#">
            <i class="icon-home"></i>
        </a>
        <a class="db-brdcmb-item" href="#">
            Ogólne
        </a>
        <a class="db-brdcmb-item" href="#">
            Repozytoria
        </a>
    </div>


    {% if app.session.get('admin') == 1 %} 

        <div class="db-logged" >
            <a href="{{path('repoDodaj')}}">
                <button><i class="icon-plus"></i><span>Dodaj plik</span></button>
            </a>
        </div>

    {% endif %}


{% if moje_repozytoria %} 
        <h2>Moje Repozytoria</h2>
        <table>
            <tr>
                <th width="40%">Nazwa</th>
                <th width="20%">Prowadzący</th>
                <th width="35%">Przedmiot</th>
                <th width="5%">Pobierz</th>
            </tr>


            {% for repozytorium in moje_repozytoria %}

                <tr>
                    <td>{{ repozytorium.getNazwa }} </td>
                    <td>{{ repozytorium.getIdOsoby.getNazwisko }}</td>
                    <td>{{ repozytorium.getIdPrzedmiotu.getNazwa }}</td>
                    <td><a href="{{ asset(repozytorium.getTyp) }}"><i class="icon-settings"></i></a></td>

                </tr>



            {% endfor %}
        </table>
        <br />
    {% endif %}
    {% if repozytoria %} 
        {% if moje_repozytoria %} 
            <h2>Pozostałe Repozytoria</h2>
            {% else %}
            <h2>Repozytoria</h2>
        {% endif %}
        
        <table>
            <tr>
                <th width="40%">Nazwa</th>
                <th width="20%">Prowadzący</th>
                <th width="35%">Przedmiot</th>
                <th width="5%">Pobierz</th>
            </tr>


            {% for repozytorium in repozytoria %}

                <tr>
                    <td>{{ repozytorium.getNazwa }} </td>
                    <td>{{ repozytorium.getIdOsoby.getNazwisko }}</td>
                    <td>{{ repozytorium.getIdPrzedmiotu.getNazwa }}</td>
                    <td><a href="{{ repozytorium.getTyp }}"><i class="icon-settings"></i></a></td>
                </tr>



            {% endfor %}
        </table>
    {% endif %}
{% endblock %}



