{% extends 'StudenciakBundle:Page:base.html.twig' %}

{% block title %}
	Dodaj zajecia
{% endblock %}

{% block general %}
	active
{% endblock %}
{% block repo %}
	active
{% endblock %}

{% block view %}
	<div class="db-breadcrumbs">
		<a class="db-brdcmb-item" href="#">
			<i class="icon-home"></i>
		</a>
		<a class="db-brdcmb-item" href="#">
			Ogólne
		</a>
		<a class="db-brdcmb-item" href="#">
			Repozytorium
		</a>
		<a class="db-brdcmb-item" href="#">
			Dodaj
		</a>
	</div>

	{% if app.session.get('admin') == 1 %} 


		<div class="db-logged" >
			<h2>Dodawanie repozytorium</h2>
			<br />


			{{ form_start(form) }}
			{{ form_errors(form) }}

			<table>
				<tr>
					<td>{{ form_label(form.id_przedmiotu) }}</td>
					<td>{{ form_widget(form.id_przedmiotu) }}{{ form_errors(form.id_przedmiotu) }}</td>
				</tr>
				<tr>
					<td>{{ form_label(form.nazwa) }}</td>
					<td><span class="form-text-input">{{ form_widget(form.nazwa) }}{{ form_errors(form.nazwa) }}</span></td>
				</tr>
				<tr>
					<td>{{ form_label(form.typ) }}</td>
					<td>{{ form_widget(form.typ) }}{{ form_errors(form.typ) }}</td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="Dodaj Repozytorium" /></td>
				</tr>
			</table>



			{{ form_end(form) }}

		</div>







	{% endif %}
{% endblock %}

